/* .box{
    
}
.box1{
    width: 270px;
    height: 270px;
    background: #37e21361;
    border-radius: 50%;
    margin-right: -20px;
    margin-top: 60px;
}
.box2{
    width: 240px;
    height: 240px;
    background: #ef09d570;
    border-radius: 50%;
    margin-right: 55px;
    margin-top: -256px;
    margin-left: 15px;
}
.inline img {
    width: 250px;
    height: 304px;
    border-radius: 50%;
    margin-top: -298px;
    margin-left: 10px;
    margin-bottom: 30px;
} */